@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-BlackItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-HeavyItalic.ttf");
  font-weight: 900;
  font-style: italic; }

body {
  font-family: "Lato";
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  font-weight: normal; }

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Lato"; }

.landing-page {
  /*Nav style*/
  /*header style*/
  /*Portfolio*/
  /*blog style*/ }
  .landing-page .navbar-collapse {
    justify-content: flex-end; }
  .landing-page .navbar-toggler {
    background: #fff !important; }
  .landing-page .navbar-brand {
    margin-right: 0; }
  .landing-page .navbar__content {
    flex: 1; }
  .landing-page .navbar__contact {
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 12px;
    margin-bottom: 8px; }
    .landing-page .navbar__contact li:not(last-child) {
      margin-right: 12px; }
    .landing-page .navbar__contact li a {
      color: #FFFFFF; }
  .landing-page .navbar-nav {
    flex: 1;
    justify-content: space-between; }
    .landing-page .navbar-nav li:first-child .nav-link {
      margin-left: 0 !important; }
  .landing-page .nav-link, .landing-page .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    text-transform: uppercase; }
  .landing-page .nav-link {
    font-weight: 600; }
    .landing-page .nav-link:after {
      content: ""; }
    .landing-page .nav-link:hover .landing-page .nav-link:after {
      height: 10px;
      width: 100%; }
  .landing-page .header {
    position: relative;
    background-image: url("../images/bg-1.svg"); }
  .landing-page .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79); }
  .landing-page .description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em; }
    .landing-page .description h1 {
      color: #F97300; }
    .landing-page .description p {
      color: #666;
      font-size: 20px;
      width: 50%;
      line-height: 1.5; }
    .landing-page .description button {
      border: 1px  solid #F97300;
      background: #F97300;
      color: #fff; }
  .landing-page .about {
    margin: 4em 0;
    padding: 1em;
    position: relative; }
    .landing-page .about h1 {
      color: #F97300;
      margin: 2em; }
    .landing-page .about img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
    .landing-page .about span {
      display: block;
      color: #888;
      position: absolute;
      left: 115px; }
    .landing-page .about .desc {
      padding: 2em;
      border-left: 4px solid #10828C; }
      .landing-page .about .desc h3 {
        color: #10828C; }
      .landing-page .about .desc p {
        line-height: 2;
        color: #888; }
  .landing-page .portfolio {
    margin: 4em 0;
    position: relative; }
    .landing-page .portfolio h1 {
      color: #F97300;
      margin: 2em; }
    .landing-page .portfolio img {
      height: 15rem;
      width: 100%;
      margin: 1em; }
  .landing-page .blog {
    margin: 4em 0;
    position: relative; }
    .landing-page .blog h1 {
      color: #F97300;
      margin: 2em; }
    .landing-page .blog .card {
      box-shadow: 0 0 20px #ccc; }
      .landing-page .blog .card img {
        width: 100%;
        height: 12em; }
    .landing-page .blog .card-title {
      color: #F97300; }
    .landing-page .blog .card-body {
      padding: 1em; }
  @media (max-width: 768px) {
    .landing-page .team .item img {
      width: 100%; } }
  .landing-page .team {
    margin: 4em 0;
    position: relative; }
    .landing-page .team h1 {
      color: #F97300;
      margin: 2em; }
    .landing-page .team .item {
      position: relative;
      overflow: hidden; }
      .landing-page .team .item:hover .des {
        height: 100%;
        background: #f973007d;
        position: absolute;
        width: 89%;
        padding: 5em;
        top: 0;
        border-top-right-radius: 0; }
    .landing-page .team .des {
      background: #F97300;
      color: #fff;
      text-align: center;
      border-top-right-radius: 93%;
      transition: .3s ease-in-out;
      position: absolute;
      width: 88%;
      bottom: 24px; }
  .landing-page .contact-form {
    margin: 6em 0;
    position: relative; }
    .landing-page .contact-form h1 {
      padding: 2em 1px;
      color: #F97300; }
    .landing-page .contact-form .right {
      max-width: 600px; }
      .landing-page .contact-form .right .btn-secondary {
        background: #F97300;
        color: #fff;
        border: 0; }
      .landing-page .contact-form .right .form-control::placeholder {
        color: #888;
        font-size: 16px; }
