.landing-page{
    .about,
    .location-other,
    .location,
    .utilities,
    .ground,
    .apartment,
    .furniture,
    .news,
    .contact{
        // padding: 30px 0;
        .container, .container-fluid{
            // padding-top: $pad-top-nav;
            // padding-bottom: 30px;
        }
    }
    .section{
        // padding-top: 90px;
    }
    /*Nav style*/
    .navbar{
        padding-top: 16px;
        max-height: 100%;
        background-color: transparent;
        transition: max-height .3s ease-in-out;
        border-color: transparent;
        .container{
            height: 100%;
            max-height: 100%;
            align-items: flex-start;
        }
        &-collapse{
            justify-content: flex-end;
            transition:  justify-content .3s ease-in-out;
        }
        &-toggler{
            background:#fff !important;
        }
        &-brand{
            margin-right: 0;
            img{
                max-width: 100%;
                transition: max-width .3s ease-in-out, margin-bottom .3s ease-in-out;
            }
        }
        &__content{
            flex: 1;
            padding-top: 20px;
        }
        &__contact{
            position: relative;
            overflow: hidden;
            flex-basis: 100%;
            width: 100%;
            max-height: 100%;
            transition: max-height .3s ease-in-out;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 10px;
                height: 1px;
                background-color: $white-color;
                opacity: .4;
            }
            ul{
                padding-bottom: 20px;
                margin-bottom: 12px;
                justify-content: flex-end;
                list-style: none;
            }
            li{
                &:not(last-child){
                    margin-right: 20px;
                }
                a{
                    color: $white-color;
                }
            }
            &-hotline{
                display: flex;
                align-items: flex-end;
                margin-right: 0 !important;
                margin-left: -10px;
                a{
                    font-size: 15px;
                    letter-spacing: 0.15px;
                    font-weight: 400;
                }
            }
        }
        &-nav {
            flex: 1;
            justify-content: space-between;
            li:first-child .nav-link{
                margin-left: 0 !important;
            }
        }
        &.sticky-top{
            position: fixed;
            background-color: $background-color;
            max-height: $height-nav;
            border-bottom: 1.5px solid $primary-color;
            transition: border .5s ease-in-out .3s, max-height .3s ease-in-out;
            .navbar{
                &-brand {  
                    img{
                        // width: 200px;
                        // margin-top: 60px;
                        margin-bottom: -60px;
                        max-width: 200px;
                        transition: max-width .3s ease-in-out;
                    }
                }
                
                &__contact{
                    max-height: 0;
                    transition: max-height .3s ease-in-out;
                }  
            }
            .collapse{
                padding-left: 7%;
                transition: padding-left 0s ease-in-out .3s;
            }
            .container{
                align-items: center;
            }
            .navbar__content{
                padding-top: 0;
            }
        }
    }
    .nav-link , .navbar-brand{
        color: #f4f4f4;
        cursor: pointer;
        text-transform: uppercase;
    }
    .nav-link{
        @extend .ff-semibold;
        font-weight: 400;
        position: relative;
        color: $white-color !important;
        &:after{
            content: "";
        }
        &:hover, &.active {
            &:after{
                background-image: url(../images/menu-active.svg);
                background-size: cover;
                background-position: center;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 60px;
                bottom: -10px;
                height: 5px;
            }
        }
    }
    
    /*header style*/
    .header{
        position: relative;
        background-color: $background-color;
        background-image: url('../images/bg-1.jpg');
        background-size: cover;
        background-position: center bottom; 
        // min-height: 100vh;
        // padding-top: 200px;
        // padding-bottom: 30px;
        // background-size: 100% 100%;
        .fp-tableCell{
            vertical-align: unset;
        }
        h4{
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.25px;
            line-height: 1.5;
            margin-bottom: 40px;
            font-size: 22px;
        }
        .row{
            >div{
                padding-top: 200px;
                text-align: center;
                img{
                    width: 50%;
                }
            }
        }
    }
    .about{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
        color: $text-color;
        &__content{
            padding-left: 6%;
            &-title{
                margin-bottom: 50px;
                h4{
                    font-family: 'Lato-Black';
                    font-size: 25px;
                    font-weight: 400;
                    margin-bottom: 36px;
                }
                p{
                    line-height: 20px;
                    font-weight: 400;
                    font-size: 18px;
                }
            }
            &-body{
                list-style: none;
                padding-left: 0;
                li{
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-bottom: 12px;
                    &:not(last-child){
                        margin-bottom:12px;
                    }
                    p{
                        margin-bottom: 0;
                        font-size: 18px;
                        font-weight: 400;
                    }
                    strong{
                        font-size: 18px;
                        font-weight: 700;
                    }
                    img{
                        margin-right: 24px;
                        transition: transform .3s ease-in-out;
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-image: url('../images/line.png');
                        height: 3px;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }

    /* location-other */
    .location-other{
        position: relative;
        background-image: url('../images/bg-3.jpg');
        background-size: cover;
        background-position: center;

        &__header{
            margin-bottom: 100px;
            h4{
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        &__content{
            &-one{
                > div:nth-child(1){
                    flex: 3;
                }
                > div:nth-child(2){
                    flex: 1;
                    img{
                        width: 77%;
                    }
                }
                > div:nth-child(3){
                    flex: 3;
                }
            }
            &-two{
                padding: 0 12%;
                div{
                    flex: 1;
                }
                img{
                    padding: 0 18%;
                }
                strong{
                    text-transform: uppercase;
                    font-size: 15px;
                    margin-top: 8px;
                    @extend .ff-semibold;
                }
            }
            img{
                transition: transform .3s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        &__line{
            flex: 1;
            span{
                width: 1px;
                background: #c17f58;
                height: 85%;
                margin: auto;
                display: block;
            }
        }
        &__icon-two{
            p{
                white-space: nowrap;
            }
        }
    }

    /* location */
    .location{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
        color: $text-color;
        h4{
            position: relative;
            padding-bottom: 32px;
            margin-bottom: 32px;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 400;
            line-height: 35.63px;
            @extend .ff-black;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('../images/line.png');
                height: 3px;
                background-size: cover;
                background-position: center;
            }
        }
        P{
            font-size: 20px;
            font-weight: 400;
        }

        &__title{
            padding: 0;
        }

        &__content{
            position: absolute;
            right: 0;
            top: $height-nav;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            padding-right: 0;
            img{
                max-height: 100%;
                margin-left: auto;
            }
        }
    }

    /* utilities */
    .utilities{
        position: relative;
        background-image: url('../images/bg-5.png');
        background-size: cover;
        background-position: right;
        color: $white-color;
        
        &__content{
            position: absolute;
            left: 0;
            padding-left: 0;
            padding-right: 0;
            top: $height-nav;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            h4{
                position: relative;
                padding-bottom: 48px;
                margin-bottom: 48px;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 400;
                line-height: 32.34px;
                color: $primary-color;
                @extend .ff-semibold;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url('../images/line.png');
                    height: 3px;
                    background-size: cover;
                    background-position: center;
                }
            }
            p{
                font-size: 20px;
                font-weight: 400;
                line-height: 28.3px;
                color: #fcf8f8;
            }
        }
        &__slides{
            padding: 0;
            img{
                background-color: $white-color;
            }
        }
        &__list{
            width: 100%;
            max-height: 100%;
        }
        &__item{
            position: relative;
            &-title{
                position: absolute;
                bottom: 15px;
                right: calc(25px + 60px + 30px + 10px);
                height: 60px;
                background-color: red;
                display: flex;
                align-items: center;
                padding: 0 70px 0 100px;
                background: linear-gradient(to right, #eaddb421 0%, #fff9e4 60%);
                color: #052120;
                font-weight: 600;
                font-size: 18px;
            }
            img{
                width: 100%;
                object-fit: cover;
                max-height: 100%;
            }
        }
        .owl-nav{
            display: flex;
            position: absolute;
            bottom: 15px;
            right: 25px;
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $text-color;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                margin-right: 12px;
            }
            .owl-next{
        
            }
        }
        &__arrow{
            
        }
    }

    /* ground */
    .ground{
        position: relative;
        background-image: url('../images/bg-6.png');
        background-size: cover;
        background-position: center;
        color: $white-color;
        h4{
            font-size: 25px;
            font-weight: 700;
            color: $text-color;
        }
        &__slides{
        }
        &__list{
            position: relative;
            
        }
        .owl-stage-outer{
            
        }
        .owl-item{
        }
        &__item{
            max-width: 100%;
            
            &-title{
                color: $text-color;
                margin: 25px -50px 0;
            }
            &-color{
                display: flex;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom:20px;
                span{
                    width: 46px;
                    height: 24px;
                    display: block;
                    margin-right: 10px;
                }
            }
        }
        .owl-item{
            position: relative;
            &:not(.active) {
                .ground__item-title{
                    display: none;
                }
                .ground__item-img:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to left, #ffffff00 0%, #f4eae7d1 22%, #f7e9e5  24%, #ffffff00 100%), 
                    linear-gradient(to right, #ffffff00 0%, #f4eae7d1 22%, #f7e9e5  24%, #ffffff00 100%);
                }
               
            }
        }
        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $text-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:#ffffff91;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $text-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 20%;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 20%;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            .owl-dot{
                height: 11px;
                width: 11px;
                border: 1px solid $text-color;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background-color: $text-color;
                    box-shadow: 0px 0px 0px 2px #fff inset;
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    /* apartment */
    .apartment{
        position: relative;
        background-image: url('../images/bg-3.jpg');
        background-size: cover;
        background-position: center;
        color: $white-color;
        &__nav{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0 12%;
            margin-bottom: 50px;
            li{
                border: 1.5px solid $primary-color;
                padding: 10px 20px;
                color: $primary-color;
                font-style: 18px;
                font-weight: 700;
                border-radius: 8px;
                text-transform: uppercase;
                cursor: pointer;
                transition: background-color .3s ease-in-out, color .3s ease-in-out;
                text-align: center;
                white-space: nowrap;
                &:hover, .active{
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }
        &__slides{
            
        }
        &__item{
            position: relative;
            display: flex;
            justify-content: center;
            &-title{
                position: absolute;
                top: 10px;
                right: 20px;
                h4{
                    margin-bottom: 20px;
                }
                p{
                    margin-bottom: 5px;
                }
            }
            img{
                width: auto;
            }
        }
        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:$text-color;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    /* furniture */
    .furniture{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
        color: $white-color;
        &__slides{
            
        }
        .container-fluid{
            padding: 0;
        }

        &__nav{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 0 12%;
            margin-bottom: 50px;
            li{
                border: 1.5px solid $primary-color;
                padding: 10px 20px;
                color: $text-color;
                font-style: 18px;
                font-weight: 700;
                border-radius: 8px;
                text-transform: uppercase;
                cursor: pointer;
                transition: background-color .3s ease-in-out, color .3s ease-in-out;
                text-align: center;
                white-space: nowrap;
                &:hover, .active{
                    color: $white-color;
                    background-color: $text-color;
                }
            }
        }
        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:$text-color;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 10%;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 10%;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            .owl-dot{
                height: 11px;
                width: 11px;
                border: 1px solid $text-color;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background-color: $text-color;
                    box-shadow: 0px 0px 0px 2px #fff inset;
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    /* news */
    .news{
        position: relative;
        background-image: url('../images/bg-9.jpg');
        background-size: cover;
        background-position: center;
        color: $white-color;
        &__item{
            background-color: $white-color;
            padding: 5px 5px;
            border-radius: 20px;
            color: $text-color;
            img{
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                margin-bottom: 25px;
            }
            h6{
                font-size: 21px;
                font-weight: 400;
                padding: 0 20px;
                margin-bottom: 20px;
                text-transform: uppercase;
                text-align: center;
                line-height: 27px;
                @extend .ff-black;
            }
            p{
                padding: 0 20px;
                text-align: justify;
                font-size: 17px;
                font-weight: 700;
                line-height: 24.74px;
                margin-bottom: 25px;
            }
        }
        &__slides{
            
        }

        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: -100px;
                top: -20%;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: -100px;
                top: -20%;
                bottom: 0;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            .owl-dot{
                height: 15px;
                width: 15px;
                border: 1px solid $white-color;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background: $white-color;
                    box-shadow: 0px 0px 0px 4px #104240 inset;
                    height: 22px;
                    width: 22px;
                }
            }
        }
    }

    /* ground */
    .contact{
        position: relative;
        background-image: url('../images/bg-contact.png');
        background-size: cover;
        background-position: center;
        color: $white-color;
        overflow: hidden;
        &__content{
            position: relative;
            padding: 6%;
            &:before{
                content: "";
                position: absolute;
                background: linear-gradient(to left, #10424000 0%, #00000045 100%);
                // opacity: .5;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 50px;
            }
            &:after{
                content: "";
                position: absolute;
                left: 0;
                box-shadow: 0px 0px 0px 1000px #04040485;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 50px;
            }
        }
        &__body{
            position: relative;
            z-index: 10;
        }
        &__info{
            margin-bottom: 70px;
            h5{
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 32px;
            }
            p{
                font-size: 18px;
                font-weight: 400;
            }
            > div{
                &:first-child{
                    padding-right: 8%;
                }
                &:last-child{
                    padding-left: 8%;
                }
            }
        }
        &__form{
            input{
                border: 1px solid $white-color;
                background: linear-gradient(to top, #0639354d 0%, #5c5c5c80 100%);
                color: $white-color;
                height: 60px;
                margin-bottom: 12px;
                font-size: 18px;
                font-style: italic;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $white-color;
                    opacity: 1; /* Firefox */
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $white-color;
                }
                
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $white-color;
                }
            }
            button{
                color: $white-color;
                height: 60px;
                border: 1px solid #ffffff;
                background: linear-gradient(to top, #063935 0%, #060606 100%);
                margin-top: 16px;
                font-size: 18px;
                font-weight: 700;
                width: 300px;
                position: relative;
            }
        }
    }
    .scroll-to-top{
        position:fixed;
        z-index:999;
        bottom:30px;
        right:20px;
        color:#fff;
        color: yellow;
        display: none;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
        svg{
            font-size: 34px;
            color: #fff;
            background: #007bff;
            border-radius: 100%;
        }
        &.is-visible{
            display: block;
        }
    }
}