.landing-page{
    /*Nav style*/
    .navbar{
        padding-top: 16px;
        max-height: 100%;
        background-color: transparent;
        transition: max-height .3s ease-in-out;
        .container{
            height: 100%;
            max-height: 100%;
            
        }
        &-collapse{
            justify-content: flex-end;
            transition:  justify-content .3s ease-in-out;
        }
        &-toggler{
            background:#fff !important;
        }
        &-brand{
            margin-right: 0;
            img{
                max-width: 100%;
                transition: max-width .3s ease-in-out, margin-bottom .3s ease-in-out;
            }
        }
        &__content{
            flex: 1;
        }
        &__contact{
            position: relative;
            overflow: hidden;
            width: 100%;
            max-height: 100%;
            transition: max-height .3s ease-in-out;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: $white-color;
                opacity: .4;
            }
            ul{
                padding-bottom: 20px;
                margin-bottom: 12px;
                justify-content: flex-end;
                list-style: none;
            }
            li{
                &:not(last-child){
                    margin-right: 20px;
                }
                a{
                    color: $white-color;
                }
            }
            &-hotline{
                display: flex;
                align-items: flex-end;
                margin-right: 0 !important;
                margin-left: -10px;
                a{
                    font-size: 15px;
                    letter-spacing: 0.15px;
                    font-weight: 400;
                }
            }
        }
        &-nav {
            flex: 1;
            justify-content: space-between;
            li:first-child .nav-link{
                margin-left: 0 !important;
            }
        }
        &.sticky-top{
            position: fixed;
            background-color: $background-color;
            max-height: $height-nav;
            border-bottom: 2px solid $primary-color;
            transition: border .3s ease-in-out .15s, max-height .3s ease-in-out, background-color 0s ease .3s;
            .navbar{
                &-brand {  
                    img{
                        // width: 200px;
                        // margin-top: 60px;
                        margin-bottom: -60px;
                        max-width: 200px;
                        transition: max-width .3s ease-in-out;
                    }
                }
                
                &__contact{
                    max-height: 0;
                    transition: max-height .3s ease-in-out;
                }  
            }
            .collapse{
                padding-left: 7%;
                transition: padding-left 0s ease-in-out .3s;
            }
        }
    }
    .nav-link , .navbar-brand{
        color: #f4f4f4;
        cursor: pointer;
        text-transform: uppercase;
    }
    .nav-link{
        font-weight: 600;
        position: relative;
        &:after{
            content: "";
        }
        &:hover {
            &:after{
                background-image: url(../images/menu-active.svg);
                background-size: cover;
                background-position: center;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 60px;
                bottom: -10px;
                height: 5px;
            }
        }
    }
    
    /*header style*/
    .header{
        position: relative;
        background-color: $background-color;
        background-image: url('../images/bg-1.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 8%;

        h4{
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.25px;
            line-height: 1.5;
            margin-bottom: 40px;
            font-size: 23px;
        }
    }
    .overlay{
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        background: rgba(244, 244, 244, 0.79);
    }
    .about{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        color: $text-color;
        &__content{
            padding-left: 6%;
            &-title{
                margin-bottom: 50px;
                h4{
                    font-size: 25px;
                    font-weight: 800;
                    margin-bottom: 36px;
                }
                p{
                    line-height: 20px;
                }
            }
            &-body{
                list-style: none;
                padding-left: 0;
                li{
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-bottom: 12px;
                    &:not(last-child){
                        margin-bottom:12px;
                    }
                    p{
                        margin-bottom: 0;
                    }
                    img{
                        margin-right: 24px;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-image: url('../images/line.png');
                        height: 3px;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }

    /* location-other */
    .location-other{
        position: relative;
        background-image: url('../images/bg-3.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        &__header{
            margin-bottom: 100px;
            h4{
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        &__content{
            &-one{
                > div:nth-child(1){
                    flex: 3;
                }
                > div:nth-child(2){
                    flex: 1;
                    img{
                        width: 84%;
                    }
                }
                > div:nth-child(3){
                    flex: 3;
                }
            }
            &-two{
                padding: 0 12%;
                div{
                    flex: 1;
                }
                img{
                    padding: 0 18%;
                }
                strong{
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-top: 8px;
                }
            }
        }
    }

    /* location */
    .location{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        color: $text-color;
        h4{
            position: relative;
            padding-bottom: 32px;
            margin-bottom: 32px;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 25px;
            line-height: 34px;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('../images/line.png');
                height: 3px;
                background-size: cover;
                background-position: center;
            }
        }

        &__content{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            padding-right: 0;
            img{
                background-color: $white-color;
            }
        }
    }

    /* utilities */
    .utilities{
        position: relative;
        background-image: url('../images/bg-5.png');
        background-size: cover;
        background-position: right;
        height: 100vh;
        display: flex;
        align-items: center;
        color: $white-color;
        
        &__content{
            h4{
                position: relative;
                padding-bottom: 48px;
                margin-bottom: 48px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 25px;
                line-height: 34px;
                color: $primary-color;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url('../images/line.png');
                    height: 3px;
                    background-size: cover;
                    background-position: center;
                }
            }
            p{
                font-size: 20px;
                line-height: 27px;
            }
        }
        &__slides{
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            img{
                background-color: $white-color;
            }
        }
        &__list{
            width: 100%;
        }
        &__item{
            position: relative;
            &-title{
                position: absolute;
                bottom: 15px;
                right: calc(25px + 60px + 30px + 10px);
                height: 60px;
                background-color: red;
                display: flex;
                align-items: center;
                padding: 0 70px 0 100px;
                background: linear-gradient(to right, #eaddb421 0%, #fff9e4 60%);
                color: #052120;
                font-weight: 600;
                font-size: 18px;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .owl-nav{
            display: flex;
            position: absolute;
            bottom: 15px;
            right: 25px;
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $text-color;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                margin-right: 12px;
            }
            .owl-next{
        
            }
        }
        &__arrow{
            
        }
    }

    .color-a1{
        background-color: #ecdfb5;
    }
    .color-a2{
        background-color: #d4dd8e;
    }
    .color-a3{
        background-color: #9ec1dd;
    }
    .color-b1{
        background-color: #dac3e7;
    }
    .color-b2{
        background-color: #abdbe5;
    }
    .color-b3{
        background-color: #e6f4dd;
    }


    /* ground */
    .ground{
        position: relative;
        background-image: url('../images/bg-6.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        color: $white-color;
        display: flex;
        align-items: center;
        h4{
            font-size: 25px;
            font-weight: 700;
            color: $text-color;
        }
        &__slides{
        }
        &__list{
            position: relative;
        }
        &__item{
            max-width: 100%;
            &-title{
                color: $text-color;
                margin: 25px -50px 0;
            }
            &-color{
                display: flex;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom:20px;
                span{
                    width: 46px;
                    height: 24px;
                    display: block;
                    margin-right: 10px;
                }
            }
        }
        .owl-item:not(.active) .ground__item-title{
            display: none;
        }
        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $text-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:#ffffff91;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $text-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 20%;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 20%;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            .owl-dot{
                height: 11px;
                width: 11px;
                border: 1px solid $text-color;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background-color: $text-color;
                    box-shadow: 0px 0px 0px 2px #fff inset;
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    /* apartment */
    .apartment{
        position: relative;
        background-image: url('../images/bg-3.jpg');
        background-size: cover;
        background-position: center;
        height: calc(100vh - #{$height-nav});
        color: $white-color;
        padding: 50px 0;
        &__nav{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0 12%;
            margin-bottom: 50px;
            li{
                border: 1.5px solid $primary-color;
                padding: 10px 20px;
                color: $primary-color;
                font-style: 18px;
                font-weight: 700;
                border-radius: 8px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        &__slides{
            
        }
        &__item{
            position: relative;
            display: flex;
            justify-content: center;
            &-title{
                position: absolute;
                top: 0;
                right: 0;
            }
            img{
                width: auto;
            }
        }
        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:$text-color;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    /* furniture */
    .furniture{
        position: relative;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        color: $white-color;
        &__slides{
            
        }
        .container-fluid{
            padding: 0;
        }

        &__nav{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0 12%;
            margin-bottom: 50px;
            li{
                border: 1.5px solid $primary-color;
                padding: 10px 20px;
                color: $primary-color;
                font-style: 18px;
                font-weight: 700;
                border-radius: 8px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:$text-color;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            .owl-dot{
                height: 11px;
                width: 11px;
                border: 1px solid $text-color;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background-color: $text-color;
                    box-shadow: 0px 0px 0px 2px #fff inset;
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    /* news */
    .news{
        position: relative;
        background-image: url('../images/bg-9.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        color: $white-color;
        &__item{
            background-color: $white-color;
            padding: 5px 5px;
            border-radius: 20px;
            color: $text-color;
            img{
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                margin-bottom: 25px;
            }
            h6{
                font-size: 20px;
                font-weight: 700;
                padding: 0 20px;
                margin-bottom: 20px;
                text-transform: uppercase;
                text-align: center;
                line-height: 27px;
            }
            p{
                padding: 0 20px;
                text-align: justify;
                line-height: 21px;
                margin-bottom: 25px;
            }
        }
        &__slides{
            
        }

        .owl-nav{
            >button{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: transform .2s ease-in-out;
                outline: none;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $primary-color;
                    font-size: 42px;
                }
            }
            .owl-prev{
                position: absolute;
                left: -100px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: -100px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            .owl-dot{
                height: 15px;
                width: 15px;
                border: 1px solid #3791a0;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background: linear-gradient(to bottom, #0a3a42 0%, #3791a0 100%);
                    box-shadow: 0px 0px 0px 4px #104240 inset;
                    height: 22px;
                    width: 22px;
                }
            }
        }
    }

    /* ground */
    .contact{
        position: relative;
        background-image: url('../images/bg-10.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        color: $white-color;
        &__content{
            position: relative;
            padding: 6%;
            &:before{
                content: "";
                position: absolute;
                background: linear-gradient(to left, #ffffff36 0%, #00000045 100%);
                // opacity: .5;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 50px;
            }
        }
        &__info{
            margin-bottom: 70px;
            h5{
                font-weight: 700;
                margin-bottom: 32px;
            }
            > div{
                &:first-child{
                    padding-right: 8%;
                }
                &:last-child{
                    padding-left: 8%;
                }
            }
        }
        &__form{
            input{
                border: 1px solid $white-color;
                background: linear-gradient(to top, #0639354d 0%, #5c5c5c80 100%);
                color: $white-color;
                height: 60px;
                margin-bottom: 12px;
                font-size: 18px;
                font-style: italic;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $white-color;
                    opacity: 1; /* Firefox */
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $white-color;
                }
                
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $white-color;
                }
            }
            button{
                color: $white-color;
                height: 60px;
                border: 1px solid #ffffff;
                background: linear-gradient(to top, #063935 0%, #060606 100%);
                margin-top: 16px;
                font-size: 18px;
                font-weight: 700;
                width: 300px;
                position: relative;
            }
        }
    }
}